@font-face {
    font-family: Montserrat;
    src: url('https://fonts.googleapis.com/css?family=Montserrat');
}
html {
    /*//border: black dotted 2px;*/
    font-family: Montserrat, Helvetica, Arial;
	font-size: 10px;
    height: 100%;
}
body {
    /*     border: green dotted 2px;*/
    margin: 0rem;
	height: 100%;
    background: rgb(65,177,255);
	background: radial-gradient(circle, rgba(65,177,255,1) 0%, rgba(40,102,205,1) 100%);
}

#wrapper {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

#splash {
    /* border: #111111 dash 7px; */
	padding-top: 2rem;
	padding-bottom: 2rem;
    border-radius: 1rem;
    background-color:#FFFFFF;
    width: 60rem;
    text-align: center;
    box-shadow: 0rem 0.2rem 0.7rem #0e56b8;
}

.banner {
    background-color: #49B4FF;
    color: #FFFFFF;
    border-radius: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

.banner h1 {
//border: yellow solid 2px;
    font-size: 7.2rem;
    display: flex;
    justify-content:center;
    margin: 0rem;
    padding: 0.1rem;
}

.banner h2 {
    font-size:  2.4rem;
    letter-spacing: 0.1rem;
    margin: 0rem;
    padding: 0.5rem;
    text-align: center;
}

#links{
//border: yellow solid 1px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    position: relative;
    background-color: #FFFFFF;
}

.link {
//border: red solid 1px;
    position: relative;
    height: 5rem;
    margin: 1rem;
}

.img-icon {
//border: purple solid 1px;
    float: left;
    margin-left: 38%;
}

.link-name {
//border: green solid 1px;
    margin-top: 1rem;
    float: left;
    margin-left: 2rem;
    font-size: 2.5rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    text-align: left;
    color: #49B4FF;
}