<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Ben Lewis</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" th:href="index.css">

</head>
<body>

<div id="wrapper">
        
        <div id="splash">

            <div class="banner">

                <h1>benlewis.io</h1>

            </div>

            <div id="links">

                <a href="https://github.com/Benlewis9000">
                    <div class="link" id="link-github">

                        <div class="link-icon">
                            <img src="logo-github.png" class="img-icon" height="50px" width="50px">
                        </div>
                        <div class="link-name">
                            Github
                        </div>

                    </div>
                </a>

                <a href="https://www.linkedin.com/in/ben-lewis-a124921b9/">
                    <div class="link" id="link-linkedin">

                        <div class="link-icon">
                            <img src="logo-linkedin.png" class="img-icon" height="50x" width="50px">
                        </div>
                        <div class="link-name">
                            LinkedIn
                        </div>

                    </div>
                </a>

            </div>

            <div class="banner">

                <h2>Under construction...</h2>

            </div>
		
        </div>
            
    </div>

</body>
</html>